body {
    background-color: black;
  }
  #header {
    color: rgb(22, 5, 182);
    border: 1px solid black;
    padding-left: 5px;
    margin: 5px;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
  }
  
  .pgraph-head {
    color: white;
    text-align: justify;
    font-family: lucida;
    font-size: 22px;
  }
  .pgraph {
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    width:90% ;
    word-wrap: normal;
    }
    .navbar-brand {
  color: white !important;
  font-family: "Lucida Console", "Courier New", monospace;
}

.navbar .nav-link {
  font-family: "Lucida Console", "Courier New", monospace;
}
.dsclaimer-head {
    color: crimson;
    text-align: center;
    font-family: lucida;
    font-size: 16px;
    font-weight: bolder;
  }
  .feature-list {
    color: white;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }