body {
    background-color: var(--bg);
    margin: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    color: var(--text);
     }
#header {
    color: var(--link);
    padding-left: 5px;
    margin: 5px;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    #result {
        margin-top: 20px;
        font-size: 18px;
    }
    .image-container {
        position: relative;
    }
    
    #burnImage {
        display: block;
    }
    
    #highlightCanvas {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
    }
    .navbar-brand {
  color: white !important;
  font-family: "Lucida Console", "Courier New", monospace;
}

.navbar .nav-link {
  font-family: "Lucida Console", "Courier New", monospace;
}