body {background-color: black;
    color:white}
#header {color: rgb(22, 5, 182);
    border: 1px solid black;
    padding-left: 5px;
    margin: 5px;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;}
#diverttable {color: white;
        text-align: center;
        font-family: "Lucida Console", "Courier New", monospace;}