body {
    background-color: var(--bg);
    color: var(--text);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#header {
    color: var(--link);
    padding-left: 5px;
    margin: 5px;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}
#dripcalc {
        background-color: var(--bg);
        color: var(--text);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px var(--link);
        max-width: 400px;
        width: 100%;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
form label {
    display: block;
    margin-top: 10px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    display: block;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.navbar-brand {
  color: white !important;
  font-family: "Lucida Console", "Courier New", monospace;
}

.navbar .nav-link {
  font-family: "Lucida Console", "Courier New", monospace;
}
#dosecalc {
        background-color: var(--bg);
        color: var(--text);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px var(--link);
        max-width: 400px;
        width: 100%;
}