body {
  background-color: var(--bg);
}
#header {
  color: var(--link);
  padding-left: 5px;
  margin: 5px;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}
body {
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 20px;
  color: var(--text);
}
.checkbox-group {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 5px;
  color: var(--text);
}
button {
  padding: 10px 15pxl;
  font-size: 16px;
}
#result {
  margin-top: 20px;
  font-size: 18px;
}
h5 {
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 20px;
  color: var(--text);
}
h6 {
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 5px;
  color: var(--text);
}
#emsatable {
  color: var(--text);
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}
.wrapper {
  width: min(900px, 100% - 3rem);
  margin-inline: auto;
}

table {
  background: rgb(5, 182, 141);
  width: 100%;
}
th,
td {
  padding: 1rem;
}
th {
  background-color: rgb(74, 71, 71);
  color: var(--text);
  font-size: 1rem;
  font-weight: 700;
}
tr:nth-of-type(2n) {
  background: rgb(4, 145, 112);
}
.table-container {
  max-width: 75%;
  overflow-x: scroll;
}
    .navbar-brand {
  color: white !important;
  font-family: "Lucida Console", "Courier New", monospace;
}

.navbar .nav-link {
  font-family: "Lucida Console", "Courier New", monospace;
}