body {
  background-color: var(--bg);
}
#header {
  color: var(--link);
  padding-left: 5px;
  margin: 5px;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}
body {
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 20px;
  color: var(--text);
  text-align: center;
}
.section {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 5px;
  color: rgb(4, 145, 112);
  text-align: left;
}
select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
button {
  padding: 10px 15px;
  font-size: 16px;
}
#result {
  margin-top: 20px;
  font-size: 18px;
  color: red;
}
    .navbar-brand {
  color: white !important;
  font-family: "Lucida Console", "Courier New", monospace;
}

.navbar .nav-link {
  font-family: "Lucida Console", "Courier New", monospace;
}