body {
    background-color: black;
  }
  #header {
    color: rgb(22, 5, 182);
    border: 1px solid black;
    padding-left: 5px;
    margin: 5px;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
  }
  #p1 {
    color: white;
    text-align: center;
    font-family: lucida;
    font-size: 32px;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

header {
    color: rgb(22, 5, 182);
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

main {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 300px;
    text-align: center;
    color: black;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

button {
    background-color: #2fdf07;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}
    .navbar-brand {
  color: white !important;
  font-family: "Lucida Console", "Courier New", monospace;
}

.navbar .nav-link {
  font-family: "Lucida Console", "Courier New", monospace;
}