body {
    background-color: var(--bg);
  }
  #header {
    color: var(--link);
    padding-left: 5px;
    margin: 5px;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
  }
  #p1 {
    color: var(--text);
    text-align: center;
    font-family: lucida;
    font-size: 32px;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
}

header {
    color: var(--link);
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

main {
    margin: 20px;
    padding: 20px;
    background-color: var(--bg);
    box-shadow: 0 0 10px var(--link);
    border-radius: 5px;
    width: 300px;
    text-align: center;
    color: var(--text);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

button {
    background-color: #2fdf07;
    color: var(--text);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    color: var(--text)3;
}
    .navbar-brand {
  color: white !important;
  font-family: "Lucida Console", "Courier New", monospace;
}

.navbar .nav-link {
  font-family: "Lucida Console", "Courier New", monospace;
}